Repository pomerium/pomerium, pull requests merged in 2020-08, with the labels that each got.

#1212 config: fix loading storage client cert from wrong location
  config/options.go
Labels: bug

#1214 docs: fix minor errors
  docs/guides/kubernetes.md
  docs/reference/readme.md
Labels: docs

#1217 Docs: Update README stating specific requirements for SIGNING_KEY
  docs/reference/readme.md
Labels: docs

#1208 docs: update reference docs
  docs/.vuepress/config.js
  docs/reference/readme.md
Labels: docs

#1220 docs: fix links, clarify upgrade guide for v0.10
  docs/.vuepress/config.js
  docs/_posts/2020-05-11-release-0-8.md
  docs/docs/CHANGELOG.md
  docs/docs/background.md
  docs/docs/community/contributing.md
  docs/docs/identity-providers/azure.md
  docs/docs/identity-providers/gitlab.md
  docs/docs/identity-providers/google.md
  docs/docs/identity-providers/okta.md
  docs/docs/identity-providers/one-login.md
  docs/docs/identity-providers/readme.md
  docs/docs/quick-start/binary.md
  docs/docs/quick-start/from-source.md
  docs/docs/quick-start/helm.md
  docs/docs/quick-start/kubernetes.md
  docs/docs/quick-start/readme.md
  docs/docs/quick-start/synology.md
  docs/docs/topics/certificates.md
  docs/docs/topics/getting-users-identity.md
  docs/docs/topics/impersonation.md
  docs/docs/topics/production-deployment.md
  docs/docs/topics/programmatic-access.md
  docs/docs/upgrading.md
  docs/guides/ad-guard.md
  docs/guides/cloud-run.md
  docs/guides/kubernetes-dashboard.md
  docs/guides/vs-code-server.md
  docs/reference/readme.md
  package.json
Labels: docs

#1222 docs: Kubernetes topic
  docs/.vuepress/config.js
  docs/docs/installation.md
  docs/docs/topics/img/kubernetes-integration.svg
  docs/docs/topics/kubernetes-integration.md
Labels: docs

#1226 internal/databroker: make Sync send data in smaller batches
  cache/databroker_test.go
  internal/databroker/server.go
Labels: improvement

#1228 authorize: add databroker url check
  authenticate/authenticate.go
  authorize/authorize.go
  authorize/authorize_test.go
  cache/cache_test.go
Labels: improvement

#1229 config: omit empty subpolicies in yaml/json
  config/policy.go
Labels: backport 0-10-0

#1238 docs: prepare for enterprise / oss split
  docs/.vuepress/components/Redirect.vue
  docs/.vuepress/config.js
  docs/.vuepress/public/_redirects
  docs/.vuepress/public/account.svg
  docs/.vuepress/public/easier-to-manage.svg
  docs/.vuepress/public/pomerium-in-action-800-600.mp4
  docs/.vuepress/public/remote.svg
  docs/.vuepress/public/secure-server.svg
  docs/.vuepress/public/security-in-depth.svg
  docs/.vuepress/theme/index.js
  docs/_posts/2020-04-16-release-0-7.md
  docs/_posts/2020-05-11-release-0-8.md
  docs/_posts/2020-06-01-release-0-9.md
  docs/enterprise/readme.md
  docs/jobs/Backend-Engineer.md
  docs/jobs/Frontend-Engineer.md
  docs/jobs/readme.md
  docs/readme.md
  package.json
Labels: backport 0-10-0, backport latest, docs

#1241 docs: add / redirect
  docs/.vuepress/config.js
  docs/readme.md
Labels: backport 0-10-0, backport latest, docs

#1245 Docs/enterprise button
  docs/readme.md
Labels: backport 0-10-0, backport latest, docs

#1244 remove rootDomain from examples
  docs/guides/argo.md
  docs/guides/kubernetes-dashboard.md
  examples/kubernetes/values.yaml
Labels: docs

#1263 docs: image, sitemap and redirect fixes
  docs/.vuepress/config.js
  docs/.vuepress/public/img/logo-long-civez.png
  docs/.vuepress/public/img/logo-long-white-civez.png
  docs/.vuepress/public/img/logo-long-white.svg
  docs/.vuepress/public/img/logo-long.svg
  docs/.vuepress/public/img/logo-only.png
  docs/.vuepress/public/img/logo-round.png
  docs/.vuepress/public/img/logo-white.png
  docs/docs/img/pomerium-auth-flow.svg
  docs/docs/img/pomerium-container-context.svg
  docs/docs/img/pomerium-diagram.svg
  docs/docs/img/pomerium-system-context.svg
  docs/docs/readme.md
  docs/readme.md
Labels: backport 0-10-0, backport latest, docs

#1268 docs: fix in-action video
  docs/docs/img/pomerium-in-action-800-600.mp4
  docs/docs/readme.md
Labels: backport 0-10-0, backport latest

#1274 docs: use .com sitemap hostname
  docs/.vuepress/config.js
Labels: backport 0-10-0, backport latest, docs

#1283 autocert: fix bootstrapped cache store path
  internal/autocert/manager.go
Labels: backport 0-10-0, bug

#1303 authorize: log users and groups
  authorize/grpc.go
  go.sum
Labels: backport 0-10-0, bug, cherry-pick

#1306 pkg/storage/redis: update tests to use local certs + upstream image
  pkg/storage/redis/redis_test.go
Labels: backport 0-10-0

#1316 deployment: add goimports with path awareness
  .golangci.yml
  docs/docs/identity-providers/cognito.md
  docs/docs/topics/data-storage.md
  docs/docs/topics/kubernetes-integration.md
  docs/docs/topics/programmatic-access.md
  integration/main_test.go
  internal/middleware/middleware_test.go
  internal/telemetry/metrics/http.go
  internal/telemetry/metrics/http_test.go
  internal/telemetry/metrics/storage.go
  pkg/storage/encrypted.go
  pkg/storage/encrypted_test.go
  pkg/storage/redis/redis_test.go
Labels: deployment

#1330 docs: update change log for 0.10.2
  docs/docs/CHANGELOG.md
Labels: docs

#1329 docs: add nginx example
  docs/.vuepress/config.js
  docs/guides/nginx.md
  examples/nginx/README.md
  examples/nginx/_wildcard.localhost.pomerium.io-key.pem
  examples/nginx/_wildcard.localhost.pomerium.io.pem
  examples/nginx/config.yaml
  examples/nginx/docker-compose.yaml
  examples/nginx/httpbin.conf
  examples/nginx/pomerium.conf
  examples/nginx/rootCA-key.pem
  examples/nginx/rootCA.pem
Labels: backport 0-10-0, backport latest, docs

#1337 Allow setting the shared secret via an environment variable.
  cmd/pomerium-cli/cli.go
  docs/docs/topics/impersonation.md
Labels: improvement

#1344 Use apt-get instead of apt to eliminate warning.
  Dockerfile
Labels: deployment

#1346 logs: add new log scrubber
  pkg/logutil/logutil.go
  pkg/logutil/scrub.go
  pkg/logutil/scrub_test.go
Labels: improvement
