Repository pomerium/pomerium, pull requests merged in 2021-10, with the labels that each got.

#2651 DOCS: Standardize Relative Links
  docs/enterprise/api.md
  docs/enterprise/console-settings.yaml
  docs/enterprise/reference/configure.md
  docs/reference/readme.md
  docs/reference/settings.yaml
Labels: docs, frontend, backport 0-15-0

#2661 config/envoyconfig: better duplicate message
  config/envoyconfig/clusters.go
Labels: improvement

#2654 DOCS: Standardize Relative Links (#2651)
  docs/enterprise/api.md
  docs/enterprise/console-settings.yaml
  docs/enterprise/reference/configure.md
  docs/reference/readme.md
  docs/reference/settings.yaml
Labels: docs

#2727 deployment: relocate pomerium-cli to /usr/bin
  .github/goreleaser.yaml
Labels: bug, deployment
