Repository pomerium/pomerium, pull requests merged in 2021-12, with the labels that each got.

#2759 Docs: Update Kubernetes Dashboard Guide
  docs/guides/img/k8s-dashboard-user.mp4
  docs/guides/img/k8s-fwd-auth-example.mp4
  docs/guides/img/k8s-proxied-example.mp4
  docs/guides/kubernetes-dashboard.md
Labels: docs, backport 0-15-0

#2772 envoy: add support for bind_config bootstrap options
  config/constants.go
  config/custom.go
  config/envoyconfig/clusters.go
  config/envoyconfig/clusters_test.go
  config/options.go
  docs/reference/readme.md
  docs/reference/settings.yaml
  go.mod
  go.sum
Labels: docs, enhancement

#2791 envoy: add hash policy and routing key for hash-based load balancers
  authorize/evaluator/headers_evaluator.go
  authorize/evaluator/opa/policy/headers.rego
  config/envoyconfig/routes.go
  config/envoyconfig/routes_test.go
  integration/clusters/auth0-kubernetes/compose.yml
  integration/clusters/auth0-multi/compose.yml
  integration/clusters/auth0-nginx/compose.yml
  integration/clusters/auth0-single/compose.yml
  integration/clusters/auth0-traefik/compose.yml
  integration/clusters/azure-kubernetes/compose.yml
  integration/clusters/azure-multi/compose.yml
  integration/clusters/azure-nginx/compose.yml
  integration/clusters/azure-single/compose.yml
  integration/clusters/azure-traefik/compose.yml
  integration/clusters/github-kubernetes/compose.yml
  integration/clusters/github-multi/compose.yml
  integration/clusters/github-nginx/compose.yml
  integration/clusters/github-single/compose.yml
  integration/clusters/github-traefik/compose.yml
  integration/clusters/gitlab-kubernetes/compose.yml
  integration/clusters/gitlab-multi/compose.yml
  integration/clusters/gitlab-nginx/compose.yml
  integration/clusters/gitlab-single/compose.yml
  integration/clusters/gitlab-traefik/compose.yml
  integration/clusters/google-kubernetes/compose.yml
  integration/clusters/google-multi/compose.yml
  integration/clusters/google-nginx/compose.yml
  integration/clusters/google-single/compose.yml
  integration/clusters/google-traefik/compose.yml
  integration/clusters/oidc-kubernetes/compose.yml
  integration/clusters/oidc-multi/compose.yml
  integration/clusters/oidc-nginx/compose.yml
  integration/clusters/oidc-single/compose.yml
  integration/clusters/oidc-traefik/compose.yml
  integration/clusters/okta-kubernetes/compose.yml
  integration/clusters/okta-multi/compose.yml
  integration/clusters/okta-nginx/compose.yml
  integration/clusters/okta-single/compose.yml
  integration/clusters/okta-traefik/compose.yml
  integration/clusters/onelogin-kubernetes/compose.yml
  integration/clusters/onelogin-multi/compose.yml
  integration/clusters/onelogin-nginx/compose.yml
  integration/clusters/onelogin-single/compose.yml
  integration/clusters/onelogin-traefik/compose.yml
  integration/clusters/ping-kubernetes/compose.yml
  integration/clusters/ping-multi/compose.yml
  integration/clusters/ping-nginx/compose.yml
  integration/clusters/ping-single/compose.yml
  integration/clusters/ping-traefik/compose.yml
  integration/policy_test.go
  integration/stats.go
  integration/tpl/backends/httpdetails.libsonnet
  integration/tpl/backends/nginx.libsonnet
  integration/tpl/backends/pomerium.libsonnet
  integration/tpl/backends/routes.libsonnet
  internal/httputil/headers.go
Labels: improvement

#2798 DOCS: Fix indentation in API doc
  docs/enterprise/api.md
Labels: docs, backport 0-15-0

#2808 DOCS: add Grafana to Guides index
  docs/guides/readme.md
Labels: docs, backport 0-15-0

#2777 envoy: treat configuration errors as fatal
  internal/controlplane/xdsmgr/xdsmgr.go
Labels: improvement

#2802 envoyconfig: fix tls_downstream_client_ca for non-standard ports
  config/envoyconfig/listeners.go
  config/envoyconfig/listeners_test.go
Labels: bug

#2810 Fix IdP client metrics
  internal/directory/azure/azure.go
  internal/directory/github/github.go
  internal/directory/gitlab/gitlab.go
  internal/directory/okta/okta.go
  internal/directory/onelogin/onelogin.go
  internal/directory/ping/config.go
  internal/httputil/client.go
  internal/telemetry/http.go
  internal/telemetry/metrics/const.go
  internal/telemetry/metrics/http.go
  internal/telemetry/metrics/http_test.go
Labels: bug

#2811 internal/telemetry: fix grpc server metrics
  internal/telemetry/grpc.go
Labels: bug

#2812 authorize: fix nginx infinite redirect
  authorize/grpc.go
Labels: bug

#2813 ppl: add support for http_path and http_method
  authorize/evaluator/evaluator.go
  authorize/evaluator/evaluator_test.go
  authorize/grpc.go
  authorize/grpc_test.go
  docs/docs/topics/ppl.md
  docs/enterprise/console-settings.yaml
  docs/enterprise/reference/manage.md
  pkg/policy/criteria/criteria_test.go
  pkg/policy/criteria/http_method.go
  pkg/policy/criteria/http_method_test.go
  pkg/policy/criteria/http_path.go
  pkg/policy/criteria/http_path_test.go
  pkg/policy/criteria/reasons.go
Labels: improvement

#2801 config: add internal service URLs
  authenticate/authenticate.go
  authenticate/authenticate_test.go
  authenticate/middleware.go
  authorize/authorize.go
  config/envoyconfig/clusters.go
  config/envoyconfig/listeners.go
  config/envoyconfig/routes.go
  config/options.go
  databroker/cache.go
  docs/reference/readme.md
  docs/reference/settings.yaml
  integration/clusters/auth0-multi/compose.yml
  integration/clusters/azure-multi/compose.yml
  integration/clusters/github-multi/compose.yml
  integration/clusters/gitlab-multi/compose.yml
  integration/clusters/google-multi/compose.yml
  integration/clusters/oidc-multi/compose.yml
  integration/clusters/okta-multi/compose.yml
  integration/clusters/onelogin-multi/compose.yml
  integration/clusters/ping-multi/compose.yml
  integration/tpl/backends/pomerium.libsonnet
  integration/tpl/backends/routes.libsonnet
  internal/cmd/pomerium/pomerium.go
  pkg/grpc/cli/api.pb.go
  pkg/grpc/config/config.pb.go
  pkg/grpc/config/config.proto
  pkg/grpc/registry/registry.pb.validate.go
  proxy/proxy.go
  proxy/proxy_test.go
Labels: docs, enhancement

#2815 dev build support for darwin-arm64 from envoy tip
  .gitignore
  internal/envoy/envoy_darwin.go
  internal/envoy/files/files_darwin_amd64.go
  internal/envoy/files/files_darwin_arm64.go
  scripts/get-envoy.bash
Labels: dependency

#2822 add docs for ingress regex path
  docs/docs/k8s/ingress.md
Labels: docs

#2827 deps: pin release to latest go version
  .github/workflows/release.yaml
Labels: dependency

#2835 devices: switch "default" device type to two built-in default device types
  authenticate/authenticate.go
  authorize/check_response.go
  pkg/webauthnutil/device_type.go
  pkg/webauthnutil/device_type_test.go
  pkg/webauthnutil/options_test.go
Labels: improvement

#2829 dashboard: improve display of device credentials, allow deletion
  authenticate/handlers.go
  authenticate/handlers/webauthn/helpers.go
  authenticate/handlers/webauthn/webauthn.go
  internal/frontend/assets/html/userInfo.html
  internal/frontend/assets/style/main.css
  internal/frontend/templates_test.go
  internal/urlutil/query_params.go
  pkg/grpc/device/device.go
Labels: improvement

#2836 devices: add experimental icon
  internal/frontend/assets/html/userInfo.html
  internal/frontend/assets/html/webauthn.go.html
  internal/frontend/assets/img/experimental.svg
  internal/frontend/assets/style/main.css
Labels: improvement

#2797 DOCS: Create Consolidated Troubleshooting Guide and Replace FAQ
  docs/.vuepress/config.js
  docs/.vuepress/public/_redirects
  docs/docs/FAQ.md
  docs/docs/img/recovery-token.png
  docs/docs/tcp/client.md
  docs/docs/tcp/readme.md
  docs/docs/tcp/ssh.md
  docs/docs/topics/programmatic-access.md
  docs/docs/troubleshooting.md
  docs/docs/upgrading.md
  docs/enterprise/reference/configure.md
  docs/reference/readme.md
  docs/reference/settings.yaml
Labels: docs, backport 0-15-0

#2841 dashboard: add confirmation dialog, fix button in firefox
  internal/frontend/assets/html/userInfo.html
  internal/frontend/assets/style/main.css
Labels: bug

#2846 config: allow specifying auto codec type in all-in-one mode
  config/codec_type.go
  config/codec_type_test.go
  config/options.go
  config/options_test.go
Labels: bug

#2842 more idp metrics
  docs/reference/readme.md
  internal/identity/manager/manager.go
  internal/telemetry/metrics/info.go
  pkg/metrics/constants.go
Labels: enhancement

#2845 docs: v0.16 release
  docs/docs/CHANGELOG.md
  docs/docs/upgrading.md
Labels: docs

#2847 docs: update version menu for v0.16
  docs/.vuepress/config.js
Labels: docs, backport 0-16-0

#2788 Update mTLS guide
  docs/guides/img/client-cert-required.png
  docs/guides/img/mtls/02-import-client-certificate.png
  docs/guides/img/mtls/05-select-client-certificate.png
  docs/guides/mtls.md
  docs/partials/client-cert-alt-port.md
  docs/partials/img/client-cert-required.png
Labels: docs, backport 0-15-0, backport 0-16-0

#2814 DOCS: New Guide: Upstream mTLS
  docs/.vuepress/config.js
  docs/guides/img/mtls/openssl-test1.png
  docs/guides/mtls.md
  docs/guides/readme.md
  docs/guides/upstream-mtls.md
Labels: docs, backport 0-15-0, backport 0-16-0

#2861 Fix typo
  docs/docs/topics/getting-users-identity.md
Labels: docs, backport 0-15-0, backport 0-16-0

#2864 docs: fix generation of the public key
  docs/docs/topics/getting-users-identity.md
Labels: docs, backport 0-16-0

#2849 deps: unpin go version to 0.16.x
  .github/workflows/release.yaml
Labels: deployment, dependency, dependencies

#2830 DOCS: Document webauthn with device ID
  docs/.vuepress/config.js
  docs/docs/topics/device-identity.md
  docs/docs/topics/img/verge-apple.png
  docs/docs/topics/ppl.md
  docs/guides/enroll-device.md
  docs/guides/img/webauthn/450-error.png
  docs/guides/img/webauthn/device-credentials-empty-highlight.png
  docs/guides/img/webauthn/device-id-list.png
  docs/guides/img/webauthn/no-device.png
  docs/guides/img/webauthn/security-key-chromebook.png
  docs/guides/img/webauthn/security-key-firefox.png
  docs/guides/img/webauthn/security-key-google.png
  docs/guides/img/webauthn/security-key-windows.png
  docs/guides/readme.md
Labels: docs, backport 0-16-0

#2870 Rephrase Discussion around Discuss
  docs/docs/community/readme.md
Labels: docs, backport 0-16-0

#2856 DOCS: Fixes to 16 release
  docs/docs/upgrading.md
  docs/reference/readme.md
  docs/reference/settings.yaml
Labels: docs, backport 0-16-0

#2869 Create Support Redirect Template
  .github/ISSUE_TEMPLATE/support.md
Labels: docs

#2874 Support redirect
  .github/ISSUE_TEMPLATE/config.yml
  .github/SUPPORT.md
Labels: docs

#2873 DOCS: Cherry-Pick from #2867
  docs/guides/kubernetes-dashboard.md
Labels: docs, backport 0-16-0

#2877 remove deprecated ioutil usages
  .golangci.yml
  authorize/evaluator/google_cloud_serverless.go
  authorize/grpc.go
  config/autocert.go
  config/autocert_test.go
  config/config_source.go
  config/config_source_test.go
  config/envoyconfig/filemgr/filemgr.go
  config/envoyconfig/filemgr/filemgr_test.go
  config/options.go
  config/options_test.go
  config/policy.go
  databroker/cache_test.go
  integration/flows/flows.go
  internal/autocert/manager_test.go
  internal/cmd/pomerium/pomerium_test.go
  internal/directory/okta/okta.go
  internal/envoy/envoy.go
  internal/envoy/envoy_linux.go
  internal/envoy/envoy_test.go
  internal/fileutil/watcher_test.go
  internal/httputil/client.go
  internal/httputil/reproxy/reproxy_test.go
  internal/httputil/server_test.go
  internal/identity/oidc/azure/microsoft.go
  internal/identity/oidc/userinfo.go
  internal/telemetry/metrics/http_test.go
  internal/telemetry/metrics/providers_test.go
  internal/tests/xdserr/health.go
  internal/testutil/redis.go
  internal/tripper/chain_test.go
  pkg/cryptutil/hash_test.go
  pkg/cryptutil/tls.go
Labels: improvement

#2878 DOCS: Link Cleanup & Checker Workaround
  docs/docs/identity-providers/okta.md
  docs/docs/topics/device-identity.md
  docs/docs/upgrading.md
  docs/enterprise/changelog.md
  docs/guides/grafana.md
  docs/guides/kubernetes-dashboard.md
  docs/guides/kubernetes.md
  docs/reference/readme.md
Labels: docs, backport 0-16-0

#2820 Docs: Mutual Auth Topic page
  docs/.vuepress/config.js
  docs/.vuepress/styles/index.styl
  docs/docs/topics/mutual-auth.md
  docs/guides/jwt-verification.md
Labels: docs, backport 0-15-0, backport 0-16-0

#2883 DOCS: Crosslink Mutual Auth and Background pages
  docs/docs/topics/mutual-auth.md
Labels: docs, backport 0-15-0, backport 0-16-0
