Repository pomerium/pomerium, pull requests merged in 2021-08, with the labels that each got.

#2419 authorize: log additional session details
  authorize/log.go
Labels: improvement

#2420 authorize: add sid to JWT claims
  authorize/evaluator/headers_evaluator_test.go
  authorize/evaluator/opa/policy/headers.rego
Labels: bug

#2427 config: remove grpc server max connection age options
  config/options.go
  config/options_test.go
  docs/docs/upgrading.md
  docs/reference/readme.md
  docs/reference/settings.yaml
  pkg/grpc/config/config.pb.go
  pkg/grpc/config/config.proto
Labels: bug

#2409 v0.15 release notes
  RELEASING.md
  docs/docs/CHANGELOG.md
  docs/docs/upgrading.md
  scripts/changelog.sh
Labels: docs

#2428 docs: clarify device identity, not state via client certs
  README.md
  docs/docs/readme.md
Labels: docs

#2430 config: remove support for ed25519 signing keys
  docs/docs/upgrading.md
  docs/reference/readme.md
  docs/reference/settings.yaml
  pkg/cryptutil/jose.go
  pkg/cryptutil/jose_test.go
  scripts/generate_self_signed_signing_key.sh
Labels: breaking, bug

#2433 doc updates
  docs/docs/topics/getting-users-identity.md
  docs/docs/topics/tcp-support.md
  docs/guides/jwt-verification.md
  docs/guides/kubernetes.md
  docs/guides/local-oidc.md
  docs/guides/mtls.md
  docs/guides/transmission.md
  docs/reference/readme.md
  docs/reference/settings.yaml
  examples/config/config.example.yaml
  examples/config/route.example.yaml
Labels: docs

#2432 Update Console installs to match signing_key
  docs/enterprise/install/helm.md
  docs/enterprise/install/quickstart.md
Labels: docs

#2434 telemetry: add nonce and make explicit ack/nack
  Makefile
  internal/controlplane/xdsmgr/xdsmgr.go
  pkg/grpc/events/xds.pb.go
  pkg/grpc/events/xds.proto
Labels: improvement

#2436 update v0.15 changelog
  docs/docs/CHANGELOG.md
Labels: docs

#2437 docs: update default version to v0.15
  docs/.vuepress/config.js
Labels: backport 0-15-0, docs

#2435 docs: update branding
  .github/CODEOWNERS
  docs/.vuepress/config.js
  docs/.vuepress/public/favicon.ico
  docs/.vuepress/public/img/logo_purple.svg
  docs/.vuepress/public/img/logo_white.svg
  docs/.vuepress/styles/palette.styl
  docs/docs/img/pomerium-in-action-800-600.mp4
  docs/docs/readme.md
  docs/docs/releases.md
  docs/docs/topics/img/pomerium-user-impersonation.mp4
  docs/docs/upgrading.md
  docs/reference/img/pomerium-user-impersonation.mp4
Labels: backport 0-15-0, docs

#2441 redirect logo to the marketing site
  docs/.vuepress/config.js
Labels: backport 0-15-0

#2442 specify expected audience in Console config
  docs/enterprise/install/helm.md
  docs/enterprise/install/quickstart.md
Labels: docs, backport 0-15-0

#2446 options: remove refresh_cooldown, add allow_spdy to proto
  config/options.go
  config/options_test.go
  config/policy.go
  docs/docs/upgrading.md
  docs/reference/readme.md
  docs/reference/settings.yaml
  pkg/grpc/config/config.pb.go
  pkg/grpc/config/config.proto
  proxy/state.go
Labels: bug, backport 0-15-0

#2445 docs: update branding, concepts
  docs/docs/install/helm.md
  docs/enterprise/about.md
  docs/enterprise/concepts.md
  docs/enterprise/console-settings.yaml
  docs/enterprise/install/helm.md
  docs/enterprise/install/quickstart.md
  docs/enterprise/install/readme.md
  docs/enterprise/prometheus.md
  docs/enterprise/reference/config.md
  docs/enterprise/reference/configure.md
  docs/enterprise/reference/manage.md
  docs/enterprise/reference/reports.md
Labels: docs, backport 0-15-0

#2447 Update binary install doc
  docs/docs/install/binary.md
  docs/guides/local-oidc.md
  examples/config/config.minimal.yaml
Labels: backport latest, backport 0-15-0

#2450 fix go get, improve redis test
  pkg/storage/redis/redis_test.go
  pomerium.go
Labels: improvement

#2451 docs: update codeowners
  .github/CODEOWNERS
Labels: docs

#2363 Hadolint
  .github/workflows/test.yaml
  Dockerfile
  Dockerfile.debug
Labels: deployment, dependencies

#2453 Enterprise Upgrade & Changelog Pages
  docs/.vuepress/config.js
  docs/enterprise/changelog.md
  docs/enterprise/console-settings.yaml
  docs/enterprise/reference/configure.md
  docs/enterprise/reference/manage.md
  docs/enterprise/upgrading.md
  scripts/generate-console-pages.js
Labels: docs, backport 0-15-0

#2462 protoutil: add NewAny method for deterministic serialization
  authorize/evaluator/evaluator_test.go
  authorize/evaluator/store.go
  authorize/evaluator/store_test.go
  authorize/sync_test.go
  config/envoyconfig/tracing.go
  databroker/directory.go
  internal/controlplane/events.go
  internal/controlplane/xds.go
  internal/databroker/config_source_test.go
  internal/databroker/server_test.go
  internal/identity/manager/manager.go
  pkg/grpc/session/session.go
  pkg/grpc/user/user.go
  pkg/logutil/scrub.go
  pkg/policy/criteria/criteria_test.go
  pkg/protoutil/any.go
  pkg/protoutil/transform.go
  pkg/storage/encrypted.go
  pkg/storage/encrypted_test.go
  pkg/storage/storage_test.go
Labels: improvement

#2463 docs: update enterprise helm instructions to use main repo
  docs/enterprise/install/helm.md
Labels: docs

#2461 Document tracing sample rate in console
  docs/enterprise/console-settings.yaml
  docs/enterprise/reference/configure.md
  docs/reference/settings.yaml
Labels: docs, backport 0-15-0

#2460 Document moving routes
  docs/enterprise/concepts.md
Labels: docs, backport 0-15-0

#2471 docs: clarify custom request header limitations
  docs/reference/readme.md
  docs/reference/settings.yaml
Labels: docs, backport 0-15-0

#2474 wrap header example values as inline code.
  docs/reference/readme.md
  docs/reference/settings.yaml
Labels: docs, backport 0-15-0

#2439 all: remove unused handler code
  authorize/session.go
  authorize/session_test.go
  config/custom.go
  config/custom_test.go
  internal/log/middleware.go
  internal/log/middleware_test.go
  internal/middleware/middleware.go
  internal/middleware/middleware_test.go
Labels: improvement

#2469 grpc: send client traffic through envoy
  authenticate/authenticate_test.go
  authenticate/state.go
  authorize/grpc.go
  authorize/grpc_test.go
  authorize/state.go
  config/config.go
  config/config_source.go
  config/envoyconfig/clusters.go
  config/envoyconfig/listeners.go
  config/envoyconfig/outbound.go
  config/envoyconfig/tls.go
  config/envoyconfig/tls_test.go
  internal/cmd/pomerium/pomerium.go
  internal/controlplane/events.go
  internal/controlplane/events_test.go
  internal/controlplane/server.go
  internal/databroker/config_source.go
  internal/databroker/config_source_test.go
  internal/envoy/envoy.go
  internal/netutil/netutil.go
  internal/registry/reporter.go
  pkg/grpc/client.go
  pkg/grpc/client_test.go
  pkg/grpc/grpc.go
  pkg/grpc/resolver.go
  pkg/grpc/resolver_test.go
Labels: bug

#2481 Wrap mkcert command in quotes
  docs/docs/install/helm.md
Labels: docs, backport 0-15-0

#2484 docs: use generic email
  docs/enterprise/reference/manage.md
  docs/guides/argo.md
  docs/reference/readme.md
  docs/reference/settings.yaml
  examples/config/config.example.yaml
  examples/config/config.minimal.yaml
  examples/config/policy.example.yaml
  examples/config/route.example.yaml
Labels: docs, backport 0-15-0

#2482 Update Docker Quickstart
  docs/.vuepress/config.js
  docs/docs/install/helm.md
  docs/docs/install/readme.md
  docs/docs/topics/certificates.md
  docs/partials/install-mkcert.md
  examples/config/config.docker.yaml
  examples/docker/basic.docker-compose.yml
  package.json
Labels: docs, backport 0-15-0

#2488 adjust comment blocking
  examples/config/config.docker.yaml
Labels: docs, backport 0-15-0

#2490 github: support provider URL
  internal/httputil/client.go
  internal/httputil/client_test.go
  internal/identity/oauth/github/github.go
  internal/urlutil/url.go
  internal/urlutil/url_test.go
Labels: improvement

#2491 Update Okta IdP doc
  docs/docs/identity-providers/img/okta-api-token.png
  docs/docs/identity-providers/img/okta-app-dashboard.png
  docs/docs/identity-providers/img/okta-client-id-and-secret.png
  docs/docs/identity-providers/img/okta-create-app-platform.png
  docs/docs/identity-providers/img/okta-create-app-settings.png
  docs/docs/identity-providers/img/okta/okta-api-token.png
  docs/docs/identity-providers/img/okta/okta-app-dashboard.png
  docs/docs/identity-providers/img/okta/okta-app-settings.png
  docs/docs/identity-providers/img/okta/okta-authorization-servers.png
  docs/docs/identity-providers/img/okta/okta-client-id-and-secret.png
  docs/docs/identity-providers/img/okta/okta-create-app-settings.png
  docs/docs/identity-providers/okta.md
Labels: docs, backport 0-15-0

#2487 document binding service to 443
  docs/docs/install/binary.md
Labels: docs, backport 0-15-0

#2492 ci: use go 1.17.x
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  Makefile
  go.mod
  integration/internal/cluster/cmd_linux.go
  integration/internal/cluster/cmd_notlinux.go
  internal/envoy/envoy_darwin.go
  internal/envoy/envoy_linux.go
  internal/envoy/envoy_other.go
  internal/envoy/files/files_darwin.go
  internal/envoy/files/files_linux_amd64.go
  internal/envoy/files/files_linux_arm64.go
  tools.go
Labels: blocked, deployment, NeedsDiscussion, dependencies

#2494 Auth0 Doc Refresh
  docs/docs/identity-providers/auth0.md
  docs/docs/identity-providers/img/auth0/create-m2m.png
  docs/docs/identity-providers/img/auth0/create.png
  docs/docs/identity-providers/img/auth0/dashboard.png
  docs/docs/identity-providers/img/auth0/m2m-scopes.png
Labels: docs, backport 0-15-0

#2498 Update AWS cognito IdP doc
  docs/docs/identity-providers/cognito.md
  docs/docs/identity-providers/img/cognito-app-client-create.png
  docs/docs/identity-providers/img/cognito-app-client-settings.png
  docs/docs/identity-providers/img/cognito/cognito-app-client-create.png
  docs/docs/identity-providers/img/cognito/cognito-app-client-details.png
  docs/docs/identity-providers/img/cognito/cognito-create-pool.png
  docs/docs/identity-providers/img/cognito/cognito-domain-name.png
  docs/docs/identity-providers/img/cognito/cognito-pool-settings.png
  docs/docs/identity-providers/img/cognito/cognito-pools.png
  docs/docs/identity-providers/img/cognito/cognito-service.png
  docs/docs/identity-providers/img/cognito/cognito-side-menu.png
  docs/docs/identity-providers/img/cognito/cognito-user-pool-name.png
Labels: docs, backport 0-15-0

#2493 Update IdP Overview Page
  docs/docs/identity-providers/dex-freeipa.md
  docs/docs/identity-providers/readme.md
Labels: docs, backport 0-15-0

#2473 ci: support darwn/arm64 aka m1 for cli
  .github/goreleaser.yaml
  .github/workflows/release.yaml
Labels: deployment, dependencies, backport 0-15-0

#2497 Update Azure IdP Doc
  docs/docs/identity-providers/azure.md
  docs/docs/identity-providers/img/azure/azure-add-a-platform.png
  docs/docs/identity-providers/img/azure/azure-api-permissions.png
  docs/docs/identity-providers/img/azure/azure-app-registrations.png
  docs/docs/identity-providers/img/azure/azure-create-application.png
  docs/docs/identity-providers/img/azure/azure-create-key.png
  docs/docs/identity-providers/img/azure/azure-dashboard.png
  docs/docs/identity-providers/img/azure/azure-redirect-url.png
Labels: docs, backport 0-15-0

#2467 Update Helm Instructions
  docs/enterprise/install/helm.md
  docs/enterprise/upgrading.md
Labels: docs, backport 0-15-0

#2503 update GitHub IdP doc
  docs/docs/identity-providers/github.md
  docs/docs/identity-providers/img/github/github-personal-access-token.png
  docs/docs/identity-providers/img/github/github-user-profile.png
Labels: docs, backport 0-15-0

#2514 integration: remove tests
  go.mod
  go.sum
  integration/README.md
  integration/authorization_test.go
  integration/backends/httpdetails/go.mod
  integration/backends/httpdetails/main.go
  integration/backends/ws-echo/go.mod
  integration/backends/ws-echo/go.sum
  integration/backends/ws-echo/main.go
  integration/control_plane_test.go
  integration/forward_auth_test.go
  integration/internal/cluster/certs.go
  integration/internal/cluster/cluster.go
  integration/internal/cluster/cmd.go
  integration/internal/cluster/cmd_linux.go
  integration/internal/cluster/cmd_notlinux.go
  integration/internal/cluster/setup.go
  integration/internal/flows/flows.go
  integration/internal/forms/forms.go
  integration/internal/netutil/netutil.go
  integration/main_test.go
  integration/manifests/lib/backends.libsonnet
  integration/manifests/lib/nginx-ingress-controller.libsonnet
  integration/manifests/lib/pomerium.libsonnet
  integration/manifests/lib/reference-openid-provider.libsonnet
  integration/manifests/lib/tls.libsonnet
  integration/manifests/manifests.jsonnet
  integration/policy_test.go
Labels: improvement

#2509 fix forward-auth, logging
  authorize/authorize.go
  authorize/evaluator/google_cloud_serverless.go
  authorize/grpc.go
  authorize/sync.go
Labels: bug

#2515 grpc: disable gRPC connection re-use across services
  authenticate/state.go
  authorize/state.go
  internal/cmd/pomerium/pomerium.go
  internal/controlplane/events.go
  internal/databroker/config_source.go
  internal/registry/reporter.go
  pkg/grpc/client.go
Labels: bug

#2516 integration: add single-cluster integration tests
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  go.mod
  go.sum
  integration/authorization_test.go
  integration/clusters/auth0-single/compose.yml
  integration/clusters/azure-single/compose.yml
  integration/clusters/github-single/compose.yml
  integration/clusters/gitlab-single/compose.yml
  integration/clusters/google-single/compose.yml
  integration/clusters/oidc-single/compose.yml
  integration/clusters/okta-single/compose.yml
  integration/clusters/onelogin-single/compose.yml
  integration/clusters/ping-single/compose.yml
  integration/cmd/pomerium-integration-tests/main.go
  integration/control_plane_test.go
  integration/flows/flows.go
  integration/forms/forms.go
  integration/main_test.go
  integration/policy_test.go
  integration/tpl/backends/fortio.libsonnet
  integration/tpl/backends/httpdetails.libsonnet
  integration/tpl/backends/mock-idp.libsonnet
  integration/tpl/backends/pomerium.libsonnet
  integration/tpl/backends/redis.libsonnet
  integration/tpl/backends/routes.libsonnet
  integration/tpl/backends/verify.libsonnet
  integration/tpl/backends/websocket-echo.libsonnet
  integration/tpl/clusters/auth0-single/compose.yml.jsonnet
  integration/tpl/clusters/azure-single/compose.yml.jsonnet
  integration/tpl/clusters/github-single/compose.yml.jsonnet
  integration/tpl/clusters/gitlab-single/compose.yml.jsonnet
  integration/tpl/clusters/google-single/compose.yml.jsonnet
  integration/tpl/clusters/oidc-single/compose.yml.jsonnet
  integration/tpl/clusters/okta-single/compose.yml.jsonnet
  integration/tpl/clusters/onelogin-single/compose.yml.jsonnet
  integration/tpl/clusters/ping-single/compose.yml.jsonnet
  integration/tpl/deployments/single.libsonnet
  integration/tpl/files/ca-key.pem
  integration/tpl/files/ca.pem
  integration/tpl/files/client-key.pem
  integration/tpl/files/client.pem
  integration/tpl/files/invalid-key.pem
  integration/tpl/files/invalid.pem
  integration/tpl/files/signing-key.pem
  integration/tpl/files/trusted-key.pem
  integration/tpl/files/trusted.pem
  integration/tpl/files/untrusted-ca-key.pem
  integration/tpl/files/untrusted-ca.pem
  integration/tpl/files/untrusted-key.pem
  integration/tpl/files/untrusted.pem
  integration/tpl/utils.libsonnet
  scripts/build-dev-docker.bash
Labels: improvement

#2526 deps: update envoy to 1.19.1
  scripts/get-envoy.bash
Labels: dependency, security, backport 0-15-0

#2523 envoy: remove deprecated access_log_path
  config/envoyconfig/bootstrap.go
Labels: improvement

#2522 config: remove headers
  config/options.go
  config/options_test.go
  docs/docs/upgrading.md
Labels: improvement

#2518 Remove api from GitLab defaultScope
  internal/identity/oidc/gitlab/gitlab.go
Labels: improvement, backport 0-15-0

#2520 Update GitLab IdP doc
  docs/docs/identity-providers/gitlab.md
  docs/docs/identity-providers/img/gitlab/gitlab-create-application.png
  docs/docs/identity-providers/img/gitlab/gitlab-create-applications.png
  docs/docs/identity-providers/img/gitlab/gitlab-credentials.png
  docs/docs/identity-providers/img/gitlab/gitlab-personal-access-token.png
  docs/docs/identity-providers/img/gitlab/gitlab-verify-access.png
Labels: docs, backport 0-15-0

#2519 integration: add multi test
  .github/workflows/test.yaml
  integration/clusters/auth0-multi/compose.yml
  integration/clusters/azure-multi/compose.yml
  integration/clusters/github-multi/compose.yml
  integration/clusters/gitlab-multi/compose.yml
  integration/clusters/google-multi/compose.yml
  integration/clusters/oidc-multi/compose.yml
  integration/clusters/okta-multi/compose.yml
  integration/clusters/onelogin-multi/compose.yml
  integration/clusters/ping-multi/compose.yml
  integration/tpl/deployments/multi.libsonnet
Labels: improvement

#2542 docs: enterprise v0.15.1 changelog
  docs/enterprise/changelog.md
Labels: docs, backport 0-15-0

#2533 update OneLogin IdP doc
  docs/docs/identity-providers/img/one-login-add-app.png
  docs/docs/identity-providers/img/one-login-add-open-id.png
  docs/docs/identity-providers/img/one-login-api-access.png
  docs/docs/identity-providers/img/one-login-callback-url.png
  docs/docs/identity-providers/img/one-login-events.png
  docs/docs/identity-providers/img/one-login-select-logo.png
  docs/docs/identity-providers/img/one-login-sso-settings.png
  docs/docs/identity-providers/img/onelogin/one-login-add-app.png
  docs/docs/identity-providers/img/onelogin/one-login-add-open-id.png
  docs/docs/identity-providers/img/onelogin/one-login-api-access.png
  docs/docs/identity-providers/img/onelogin/one-login-app-access.png
  docs/docs/identity-providers/img/onelogin/one-login-callback-url.png
  docs/docs/identity-providers/img/onelogin/one-login-events.png
  docs/docs/identity-providers/img/onelogin/one-login-select-logo.png
  docs/docs/identity-providers/img/onelogin/one-login-sso-settings.png
  docs/docs/identity-providers/one-login.md
Labels: docs, backport 0-15-0

#2537 Update Ping Identity IdP
  docs/docs/identity-providers/img/ping/ping-add-application.png
  docs/docs/identity-providers/img/ping/ping-add-worker.png
  docs/docs/identity-providers/img/ping/ping-app-grants.png
  docs/docs/identity-providers/img/ping/ping-app-profile.png
  docs/docs/identity-providers/img/ping/ping-configuration.png
  docs/docs/identity-providers/img/ping/ping-new-app.png
  docs/docs/identity-providers/img/ping/ping-worker-configuration.png
  docs/docs/identity-providers/ping.md
Labels: docs, backport 0-15-0

#2536 integration: kubernetes support
  .github/workflows/test.yaml
  integration/clusters/auth0-kubernetes/compose.yml
  integration/clusters/azure-kubernetes/compose.yml
  integration/clusters/github-kubernetes/compose.yml
  integration/clusters/gitlab-kubernetes/compose.yml
  integration/clusters/google-kubernetes/compose.yml
  integration/clusters/oidc-kubernetes/compose.yml
  integration/clusters/okta-kubernetes/compose.yml
  integration/clusters/onelogin-kubernetes/compose.yml
  integration/clusters/ping-kubernetes/compose.yml
  integration/tpl/backends/k3s.libsonnet
  integration/tpl/clusters/auth0-kubernetes/compose.yml.jsonnet
  integration/tpl/clusters/auth0-multi/compose.yml.jsonnet
  integration/tpl/clusters/azure-kubernetes/compose.yml.jsonnet
  integration/tpl/clusters/azure-multi/compose.yml.jsonnet
  integration/tpl/clusters/github-kubernetes/compose.yml.jsonnet
  integration/tpl/clusters/github-multi/compose.yml.jsonnet
  integration/tpl/clusters/gitlab-kubernetes/compose.yml.jsonnet
  integration/tpl/clusters/gitlab-multi/compose.yml.jsonnet
  integration/tpl/clusters/google-kubernetes/compose.yml.jsonnet
  integration/tpl/clusters/google-multi/compose.yml.jsonnet
  integration/tpl/clusters/oidc-kubernetes/compose.yml.jsonnet
  integration/tpl/clusters/oidc-multi/compose.yml.jsonnet
  integration/tpl/clusters/okta-kubernetes/compose.yml.jsonnet
  integration/tpl/clusters/okta-multi/compose.yml.jsonnet
  integration/tpl/clusters/onelogin-kubernetes/compose.yml.jsonnet
  integration/tpl/clusters/onelogin-multi/compose.yml.jsonnet
  integration/tpl/clusters/ping-kubernetes/compose.yml.jsonnet
  integration/tpl/clusters/ping-multi/compose.yml.jsonnet
  integration/tpl/deployments/kubernetes.libsonnet
  scripts/build-dev-docker.bash
Labels: improvement

#2555 allow pomerium to start without certs
  config/options.go
  config/options_test.go
Labels: improvement
