Repository pomerium/pomerium, pull requests merged in 2021-11, with the labels that each got.

#2713 Docs: Update Community Page
  docs/.vuepress/components/Newsletter.vue
  docs/.vuepress/config.js
  docs/docs/community/readme.md
  package.json
Labels: docs, backport 0-15-0

#2719 authenticate: always update user record on login
  authenticate/handlers.go
  internal/identity/manager/config.go
  internal/identity/manager/manager.go
  internal/identity/manager/manager_test.go
Labels: bug

#2732 Docs: Update Traefik Example Headers
  docs/reference/readme.md
  docs/reference/settings.yaml
Labels: docs, backport 0-15-0

#2695 Add additional ACME CA (autocert) options
  config/autocert.go
  config/autocert_test.go
  config/options.go
  config/options_test.go
  docs/reference/readme.md
  docs/reference/settings.yaml
  go.mod
  internal/autocert/manager.go
  internal/autocert/manager_test.go
  pkg/grpc/config/config.pb.go
  pkg/grpc/config/config.proto
Labels: docs, improvement

#2667 Docs: Ingress Controller
  docs/.vuepress/config.js
  docs/.vuepress/public/_redirects
  docs/docs/k8s/helm.md
  docs/docs/k8s/img/kubernetes-integration.svg
  docs/docs/k8s/img/logged-in-as.png
  docs/docs/k8s/ingress.md
  docs/docs/k8s/readme.md
  docs/docs/releases.md
  docs/docs/tcp/readme.md
  docs/docs/tcp/redis.md
  docs/enterprise/install/helm.md
  examples/kubernetes/example-ingress.yaml
  examples/kubernetes/pomerium-certificates.yaml
  examples/kubernetes/pomerium-values.yaml
Labels: docs, backport 0-15-0

#2749 device: add type id and credential id to enrollment for easier referencing
  authenticate/handlers/webauthn/webauthn.go
  pkg/grpc/device/device.pb.go
  pkg/grpc/device/device.proto
Labels: improvement

#2747 Docs: Add spdy annotation
  docs/docs/k8s/ingress.md
Labels: docs, backport 0-15-0

#2757 deps: update goreleaser
  .github/workflows/release.yaml
Labels: bug, deployment

#2742 Docs: Add Grafana Integration Guide
  docs/.vuepress/config.js
  docs/guides/grafana.md
  docs/guides/img/grafana-server-admin-users.png
Labels: docs

#2760 tls: fallback to self-signed certificate
  config/envoyconfig/listeners.go
  integration/clusters/auth0-multi/compose.yml
  integration/clusters/azure-multi/compose.yml
  integration/clusters/github-multi/compose.yml
  integration/clusters/gitlab-multi/compose.yml
  integration/clusters/google-multi/compose.yml
  integration/clusters/oidc-multi/compose.yml
  integration/clusters/okta-multi/compose.yml
  integration/clusters/onelogin-multi/compose.yml
  integration/clusters/ping-multi/compose.yml
  integration/control_plane_test.go
  integration/tpl/backends/pomerium.libsonnet
  pkg/cryptutil/tls.go
  pkg/cryptutil/tls_test.go
Labels: improvement

#2767 config: detect changes to the kubernetes service account token file
  config/config_source.go
  config/config_source_test.go
Labels: bug

#2770 authenticate: redirect / to /.pomerium/
  authenticate/handlers.go
  config/envoyconfig/routes.go
  config/envoyconfig/routes_test.go
Labels: improvement

#2771 deployment: migrate pomerium-cli automation to new repo
  .github/dependabot.yaml
  .github/goreleaser.yaml
  .github/workflows/release.yaml
  Dockerfile
  Dockerfile.debug
Labels: deployment

#2779 Remove forward_auth_url from Enterprise
  docs/enterprise/console-settings.yaml
  docs/enterprise/reference/configure.md
Labels: docs

#2782 identity: only assign `access_type` uri params to google.
  docs/docs/upgrading.md
  internal/identity/oidc/google/google.go
  internal/identity/oidc/oidc.go
Labels: improvement, breaking

#2786 Copy edit to changelog entry
  docs/docs/upgrading.md
Labels: docs

#2780 authorize: support X-Pomerium-Authorization in addition to Authorization
  authenticate/state.go
  authorize/session.go
  config/envoyconfig/listeners_test.go
  config/envoyconfig/lua_test.go
  config/envoyconfig/luascripts/clean-upstream.lua
  docs/docs/topics/programmatic-access.md
  internal/httputil/headers.go
  internal/sessions/header/header_store.go
  internal/sessions/header/header_store_test.go
  internal/sessions/header/middleware_test.go
  proxy/state.go
Labels: docs, enhancement

#2746 Docs: Update JWT Verification Guide
  docs/docs/topics/getting-users-identity.md
  docs/docs/topics/original-request-context.md
  docs/enterprise/console-settings.yaml
  docs/enterprise/reference/configure.md
  docs/guides/grafana.md
  docs/guides/jwt-verification.md
Labels: docs, backport 0-15-0

#2784 Document Pomerium Policy Language
  docs/.vuepress/config.js
  docs/docs/topics/ppl.md
Labels: docs, backport 0-15-0

#2758 Docs: Update Securing Kubernetes Guide
  docs/guides/kubernetes.md
Labels: docs, backport 0-15-0
