Repository pomerium/pomerium, pull requests merged in 2022-03, with the labels that each got.

#3091 docs: update dev branch name
  docs/.vuepress/config.js
Labels: docs

#3094 Docs: Add 'more' key for 'View Docs' value
  docs/enterprise/console-settings.yaml
Labels: docs

#3096 databroker: use contextual logging for errors, use original record type for encryption
  internal/log/log.go
  pkg/storage/encrypted.go
  pkg/storage/encrypted_test.go
Labels: bug

#3098 docs: v0.17 release vuepress config
  docs/.vuepress/config.js
Labels: docs

#3097 docs: Update release notes and changelog for v0.17
  docs/docs/CHANGELOG.md
  docs/docs/upgrading.md
Labels: docs

#3107 authorize: add request IP to rego evaluation
  authorize/evaluator/evaluator.go
  authorize/evaluator/evaluator_test.go
  authorize/grpc.go
  authorize/grpc_test.go
  authorize/log.go
Labels: improvement

#3092 Docs: exclude template from sitemap
  docs/.vuepress/config.js
Labels: docs, backport 0-16-0

#3106 protoutil: add support for converting arbitrary protobuf messages into structs
  pkg/protoutil/struct.go
  pkg/protoutil/struct_test.go
Labels: improvement

#3077 Docs: Ingress routing order
  docs/docs/k8s/ingress.md
Labels: docs, backport 0-16-0

#3074 Docs: Update Okta Copy
  docs/docs/identity-providers/okta.md
Labels: docs, backport 0-16-0

#3100 Correct domain name
  docs/docs/k8s/helm.md
  docs/guides/upstream-mtls.md
Labels: docs, backport 0-17-0

#3119 DOCS: Document duplicate routes in Console
  docs/enterprise/concepts.md
  docs/enterprise/console-settings.yaml
  docs/enterprise/reference/configure.md
Labels: docs, backport 0-17-0

#3121 typo correction
  docs/guides/istio.md
Labels: docs, backport 0-17-0

#3111 Clarify configuration between modes
  docs/docs/architecture.md
  docs/reference/readme.md
  docs/reference/settings.yaml
Labels: docs, backport 0-17-0

#3127 DOCS: Note assumed TCP route on all examples
  docs/docs/tcp/git.md
  docs/docs/tcp/mysql.md
  docs/docs/tcp/rdp.md
  docs/docs/tcp/redis.md
  docs/docs/tcp/service-template.md
  docs/docs/tcp/ssh.md
Labels: docs, backport 0-17-0

#3118 DOCS: Expand Enterprise Route Reference
  docs/enterprise/console-settings.yaml
  docs/enterprise/reference/manage.md
Labels: docs, backport 0-17-0

#3079 Docs: Update metrics address copy
  docs/enterprise/metrics.md
Labels: docs, backport 0-17-0

#3130 DOCS: Auth0 JWT signature algorithm
  docs/docs/identity-providers/auth0.md
Labels: docs, backport 0-17-0

#3099 Add missing namespace creation for pomerium
  docs/docs/k8s/helm.md
Labels: docs, backport 0-17-0

#3126 DOCS: TCP route for Microsoft SQL
  docs/.vuepress/config.js
  docs/docs/tcp/img/desktop/example-mssql-connection.png
  docs/docs/tcp/ms-sql.md
Labels: docs, backport 0-17-0

#3136 docs: update default verify port to 8000
  docs/guides/local-oidc.md
Labels: docs, backport 0-17-0

#3150 directory: support non-base64 encoded service accounts
  internal/directory/azure/azure.go
  internal/directory/azure/azure_test.go
  internal/directory/github/github.go
  internal/directory/github/github_test.go
  internal/directory/gitlab/gitlab.go
  internal/directory/gitlab/gitlab_test.go
  internal/directory/google/google.go
  internal/directory/google/google_test.go
  internal/directory/okta/okta.go
  internal/directory/okta/okta_test.go
  internal/directory/onelogin/onelogin.go
  internal/directory/onelogin/onelogin_test.go
  internal/directory/ping/config.go
  internal/directory/ping/config_test.go
Labels: improvement

#3154 userinfo: fix missing profile picture
  ui/src/components/Avatar.tsx
Labels: bug

#3149 Docs: Google IDP without Service Account
  docs/docs/identity-providers/google.md
  examples/config/config.docker.yaml
Labels: docs, backport 0-17-0

#3109 Docs: Convert Console Config to Table
  docs/.vuepress/styles/palette.styl
  docs/enterprise/pomerium-console_serve.yaml
  docs/enterprise/reference/config.md
  scripts/generate-console-pages.js
Labels: docs, backport 0-17-0

#3076 Docs: document default cert annotation.
  docs/docs/k8s/helm.md
  docs/docs/k8s/ingress.md
Labels: docs

#3155 DOCS: Metrics Name
  docs/enterprise/console-settings.yaml
  docs/enterprise/reference/manage.md
Labels: docs, backport 0-17-0

#3161 DOCS: Update Console Reference for 17
  docs/enterprise/concepts.md
  docs/enterprise/console-settings.yaml
  docs/enterprise/img/console-overview.gif
  docs/enterprise/img/console-route-traffic.png
  docs/enterprise/img/console-service-account.png
  docs/enterprise/img/console-session-landing.png
  docs/enterprise/img/console-session-list.png
  docs/enterprise/img/session-details.png
  docs/enterprise/install/helm.md
  docs/enterprise/reference/configure.md
  docs/reference/img/add-service-account.png
  docs/reference/img/console-service-account.png
  docs/reference/img/create-impersonated-service-account.png
  docs/reference/img/create-policy-1.png
  docs/reference/img/create-policy-2.png
  docs/reference/img/create-service-account.png
  docs/reference/img/runtime-fullpage.png
  docs/reference/img/service-account-jwt.png
  docs/reference/img/service-account-policy.png
  docs/reference/img/sessions-fullpage.png
  docs/reference/img/traffic-fullpage.png
Labels: docs, backport 0-17-0

#3123 DOCS: Securing Pomerium
  docs/.vuepress/config.js
  docs/docs/security.md
Labels: docs, backport 0-17-0

#3117 DOCS: Update Desktop Client docs
  docs/docs/tcp/client.md
  docs/docs/tcp/img/desktop/demo-new-connection.png
Labels: docs, backport 0-17-0

#3171 github: fix missing groups
  internal/directory/github/github_test.go
  internal/directory/github/graphql.go
Labels: bug, backport 0-17-0

#3174 ci: update setup-gcloud to use v0
  .github/workflows/release.yaml
Labels: ci, backport 0-17-0

#3178 ci: update setup-gcloud to use v0
  .github/workflows/release.yaml
Labels: ci

#3179 deployment: update syntax installing `dlv` in debug image
  Dockerfile.debug
Labels: bug, deployment

#3177 DOCS: Add New Videos to Docs Pages
  docs/docs/readme.md
  docs/enterprise/install/readme.md
  docs/guides/traefik-ingress.md
Labels: docs, backport 0-17-0

#3184 ui: remove version
  authenticate/handlers.go
  authenticate/handlers/userinfo.go
  internal/httputil/errors.go
  ui/src/App.tsx
  ui/src/components/Footer.tsx
  ui/src/types/index.ts
Labels: improvement

#3183 github: pin github actions
  .github/workflows/backport.yaml
  .github/workflows/docker-main.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Labels: improvement

#3185 try pinning docker dependency
  .devcontainer/Dockerfile
  .github/Dockerfile-cloudrun
  .github/Dockerfile-release
  .github/Dockerfile-release-debug
  .github/Dockerfile-release-debug-nonroot
  .github/Dockerfile-release-nonroot
  Dockerfile
  Dockerfile.debug
  examples/mutual-tls/Dockerfile
  internal/testutil/testdata/Dockerfile
Labels: improvement

#3186 envoy: upgrade to 1.21.1
  config/envoyconfig/clusters.go
  config/envoyconfig/clusters_test.go
  config/envoyconfig/tls.go
  config/envoyconfig/tls_test.go
  go.mod
  go.sum
  scripts/get-envoy.bash
Labels: improvement

#3194 authenticate: fix internal url with webauthn
  authenticate/handlers.go
  authenticate/handlers/webauthn/webauthn.go
  authenticate/middleware.go
  internal/urlutil/url.go
Labels: bug, backport 0-17-0

#3129 DOCS: Production Deployment rewrite
  docs/.vuepress/config.js
  docs/docs/production-deployment.md
  docs/docs/topics/production-deployment.md
  docs/reference/readme.md
  docs/reference/settings.yaml
Labels: docs, backport 0-17-0

#3193 DOCS: Expand shared_secret troubleshooting
  docs/docs/troubleshooting.md
Labels: docs, backport 0-17-0

#3209 ci: update release deployment location
  .github/workflows/release.yaml
Labels: ci

#3208 grpc: regenerate protobuf code
  pkg/grpc/audit/audit.pb.go
  pkg/grpc/cli/api.pb.go
  pkg/grpc/config/config.pb.go
  pkg/grpc/crypt/crypt.pb.go
  pkg/grpc/databroker/databroker.pb.go
  pkg/grpc/device/device.pb.go
  pkg/grpc/directory/directory.pb.go
  pkg/grpc/events/last_error.pb.go
  pkg/grpc/events/xds.pb.go
  pkg/grpc/identity/identity.pb.go
  pkg/grpc/registry/registry.pb.go
  pkg/grpc/session/session.pb.go
  pkg/grpc/user/user.pb.go
Labels: improvement

#3210 databroker: add support for field masks on Put
  go.mod
  go.sum
  internal/databroker/server.go
  pkg/grpc/databroker/databroker.pb.go
  pkg/grpc/databroker/databroker.proto
  pkg/protoutil/mask.go
  pkg/protoutil/mask_test.go
  pkg/storage/encrypted.go
  pkg/storage/encrypted_test.go
  pkg/storage/inmemory/backend.go
  pkg/storage/inmemory/backend_test.go
  pkg/storage/redis/redis.go
  pkg/storage/redis/redis_test.go
  pkg/storage/storage.go
  pkg/storage/storage_test.go
Labels: improvement

#3192 feat(docs) Add Redis FLUSHALL doc on how and when to execute commands
  docs/docs/topics/data-storage.md
  docs/docs/troubleshooting.md
Labels: docs, backport 0-17-0

#3212 authenticate: fix debug and metrics endpoints
  config/config.go
  config/config_source.go
  config/envoyconfig/bootstrap_test.go
  config/envoyconfig/builder.go
  config/envoyconfig/clusters.go
  config/envoyconfig/clusters_test.go
  config/envoyconfig/listeners.go
  config/envoyconfig/listeners_test.go
  config/envoyconfig/routes.go
  config/envoyconfig/routes_test.go
  config/metrics.go
  config/options.go
  internal/cmd/pomerium/pomerium.go
  internal/controlplane/http.go
  internal/controlplane/server.go
  internal/registry/reporter.go
Labels: bug, backport 0-17-0

#3224 deps: bump backport action version
  .github/workflows/backport.yaml
Labels: dependencies
