Repository pomerium/pomerium, pull requests merged in 2022-02, with the labels that each got.

#2984 Fix minor typo in gitlab.md
  docs/guides/gitlab.md
Labels: docs, backport 0-16-0

#2901 demo git over TCP tunnel
  docs/.vuepress/config.js
  docs/docs/tcp/git.md
  docs/docs/tcp/img/desktop/example-git-connection.png
Labels: docs, backport 0-16-0

#2980 auth0: support explicit domains in the service account
  internal/directory/auth0/auth0.go
  internal/directory/auth0/auth0_test.go
Labels: bug, backport 0-16-0

#2995 Update nginx example with verify port
  examples/nginx/config.yaml
  examples/nginx/docker-compose.yaml
  examples/nginx/verify.conf
Labels: docs

#2997 deployment: add `nonroot` release docker images
  .github/Dockerfile-release-nonroot
  .github/goreleaser.yaml
  .github/workflows/release.yaml
  docs/docs/releases.md
Labels: docs, deployment

#3000 controlplane: add compression middleware
  go.mod
  go.sum
  internal/controlplane/http.go
Labels: improvement

#2994 Docs: Enterprise Device Enrollment
  docs/guides/enroll-device.md
Labels: docs, backport 0-16-0

#3007 deployment: only include pomerium binary
  .github/Dockerfile-release
Labels: bug, deployment

#3006 Docs: Add License Notice
  docs/.vuepress/theme/components/PageEdit.vue
  docs/.vuepress/theme/styles/wrapper.styl
Labels: docs, frontend, backport 0-16-0

#3018 deps: increase yarn network timeout
  Makefile
Labels: dependencies

#3019 ci: increase yarn timeout more
  .github/workflows/test.yaml
  Makefile
Labels: ci

#3022 session: remove unused session state properties
  authenticate/handlers.go
  authenticate/handlers/webauthn/webauthn.go
  authenticate/handlers_test.go
  authorize/session_test.go
  internal/sessions/cookie/cookie_store_test.go
  internal/sessions/cookie/middleware_test.go
  internal/sessions/header/middleware_test.go
  internal/sessions/middleware_test.go
  internal/sessions/mock/mock_store_test.go
  internal/sessions/queryparam/middleware_test.go
  internal/sessions/state.go
  internal/sessions/state_test.go
  proxy/forward_auth_test.go
  proxy/handlers_test.go
Labels: improvement

#3027 DOCS: Fix metadata description
  docs/guides/kubernetes.md
Labels: docs, backport 0-16-0

#3026 DOCS: update CA-related reference copy
  docs/enterprise/reference/configure.md
  docs/reference/readme.md
  docs/reference/settings.yaml
Labels: docs, backport 0-16-0

#3023 ci: add mui build to release steps
  .github/goreleaser.yaml
  .github/workflows/release.yaml
  Dockerfile.debug
  Makefile
Labels: ci

#3035 update verify port
  docs/guides/local-oidc.md
  examples/config/config.docker.yaml
Labels: docs, backport 0-16-0

#2993 update Enterprise docs for 0.16.0
  docs/docs/topics/device-identity.md
  docs/enterprise/console-settings.yaml
  docs/enterprise/img/console-devices.png
  docs/enterprise/img/new-enrollment.png
  docs/enterprise/pomerium-console_serve.yaml
  docs/enterprise/reference/config.md
  docs/enterprise/reference/manage.md
  docs/enterprise/upgrading.md
Labels: docs, backport 0-16-0

#3042 ci: use default branch name for helmfile repo
  .github/workflows/release.yaml
Labels: bug, backport 0-16-0, ci

#3044 ci: use default branch name for helmfile repo
  .github/workflows/release.yaml
Labels: bug, ci

#3039 Docs: Mark redirect URL as optional
  docs/enterprise/console-settings.yaml
  docs/enterprise/reference/manage.md
Labels: docs, backport 0-16-0

#3034 updates examples for current routes/policy keys
  docs/docs/topics/load-balancing.md
  examples/kubernetes/kubernetes-config.yaml
  examples/mutual-tls/README.md
  examples/mutual-tls/example.config.yaml
  examples/nginx/config.yaml
  examples/tcp/config.yaml
  examples/tiddlywiki/config.yaml
  examples/traefik/config.yaml
  ospkg/conf/config.yaml
Labels: docs, backport 0-16-0

#3047 authorize: add support for passing access or id token upstream
  authorize/evaluator/headers_evaluator.go
  authorize/evaluator/headers_evaluator_test.go
  authorize/evaluator/opa/policy/headers.rego
  config/policy.go
  docs/reference/readme.md
  docs/reference/settings.yaml
  pkg/grpc/config/config.go
  pkg/grpc/config/config.pb.go
  pkg/grpc/config/config.proto
Labels: docs, enhancement

#3056 config: fix httptest local certificate
  config/http_test.go
Labels: bug, backport 0-16-0

#3049 DOCS: Various Link Fixes
  docs/docs/tcp/git.md
  docs/docs/topics/device-identity.md
  docs/enterprise/console-settings.yaml
  docs/enterprise/reference/manage.md
  docs/guides/code-server.md
  docs/partials/client-cert-alt-port.md
Labels: docs, backport 0-16-0

#3066 fix link for picture in avatar
  ui/src/components/Header.tsx
Labels: bug

#3065 exclude partials from sitemap
  docs/.vuepress/config.js
Labels: docs, backport 0-16-0

#3059 DOCS: Reference Updates
  docs/reference/readme.md
  docs/reference/settings.yaml
Labels: docs

#3063 DOCS: Auth Passthrough Edits
  docs/reference/readme.md
  docs/reference/settings.yaml
Labels: docs

#3058 userinfo: fix logout button, add sign out confirm page
  .golangci.yml
  authenticate/handlers.go
  authenticate/handlers/device-enrolled.go
  authenticate/handlers/signout.go
  authenticate/handlers/userinfo.go
  authenticate/handlers/webauthn/webauthn.go
  authenticate/handlers_test.go
  authenticate/state.go
  internal/httputil/router.go
  pkg/webauthnutil/credential_storage.go
  pkg/webauthnutil/credential_storage_test.go
  pkg/webauthnutil/device_type.go
  pkg/webauthnutil/options_test.go
  pkg/webauthnutil/user.go
  ui/src/App.tsx
  ui/src/components/Header.tsx
  ui/src/components/SignOutConfirmPage.tsx
  ui/src/types/index.ts
Labels: bug

#3075 userinfo: add webauthn buttons to user info page
  authenticate/authenticate.go
  authenticate/handlers.go
  authenticate/handlers/userinfo.go
  authenticate/handlers/webauthn/webauthn.go
  authenticate/handlers_test.go
  ui/package.json
  ui/src/components/Avatar.tsx
  ui/src/components/SessionDeviceCredentials.tsx
  ui/src/components/UserInfoPage.tsx
  ui/src/components/WebAuthnAuthenticateButton.tsx
  ui/src/components/WebAuthnButton.tsx
  ui/src/components/WebAuthnRegisterButton.tsx
  ui/src/components/WebAuthnRegistrationPage.tsx
  ui/src/types/index.ts
Labels: improvement

#3080 DOCS: Standardize Reference image paths in Enterprise Docs
  docs/docs/topics/device-identity.md
  docs/enterprise/console-settings.yaml
  docs/enterprise/reference/configure.md
  docs/enterprise/reference/manage.md
  docs/enterprise/reference/reports.md
  docs/guides/enroll-device.md
  docs/reference/img/add-service-account.png
  docs/reference/img/console-devices.png
  docs/reference/img/create-impersonated-service-account.png
  docs/reference/img/create-service-account.png
  docs/reference/img/deployment-diff.png
  docs/reference/img/events-fullpage.png
  docs/reference/img/example-policy-editor.png
  docs/reference/img/example-policy-single-user.png
  docs/reference/img/new-enrollment.png
  docs/reference/img/runtime-fullpage.png
  docs/reference/img/service-account-jwt.png
  docs/reference/img/service-account-policy.png
  docs/reference/img/sessions-fullpage.png
  docs/reference/img/traffic-fullpage.png
  docs/reference/img/user-id.png
Labels: docs, backport 0-16-0

#3082 deps: bump envoy to v1.20.2
  scripts/get-envoy.bash
Labels: dependencies

#3083 deps: update envoy to v1.19.3
  scripts/get-envoy.bash
Labels: dependency

#3073 DOCS: Backport Reference Updates
  docs/reference/readme.md
  docs/reference/settings.yaml
Labels: docs
